<div class="navbar">
  <div class="left-navbar">
    <div class="menu">
      <a href="{{ site.urlgithub }}/"
        ><img
          src="{{ site.baseurl }}/assets/images/github.png"
          style="width: 44px"
          alt="github"
      /></a>
    </div>
    |
    <div>
      <a href="{{ site.baseurl }}/">Home</a>
    </div>
  </div>
  <div class="right-navbar">
    <div class="menu">
      <a href="{{ site.baseurl }}/UpdateVirtualBox/">Update Virtual Box</a>
    </div>
    <div class="menu">
      <a href="{{ site.baseurl }}/ExtensionError/">Extension Error</a>
    </div>
    <div class="menu">
      <a href="{{ site.baseurl }}/KernelError/">Kernel Drive Error</a>
    </div>
    <div class="menu">
      <a href="{{ site.baseurl }}/MacosX11/">X11 On MacOS</a>
    </div>
  </div>
</div>
